.row.page-404  {
  text-align: center;
}

.row.page-404 h1 {
  font-size: 100px;
}

.row.page-404 h3 {
  margin-top: 50px;
}

.row.page-404 a {
  margin-top: 50px;
}

.row.page-404 a.button {
  background-color: #f78228;
}

.row.page-404 a {
  font-weight: 800;
}
