.menu > li > a {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 30px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 33px;
}

.menu a:hover {
  border-bottom: 3px solid #f78228;
}

// Active menu

.menu .active > a {
  background: none;
  color: black;
}

// Suppression du padding

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 0px;
}

// Sous menu

.menu.vertical > li {
  padding-right: 30px;
}

.menu.vertical > li:last-child {
  margin-bottom: 30px;
}
