.post-previous {
  font-size: 50px;
}

.post-previous a {
  text-decoration: none;
  color: #f78228;
}

.post-next {
  font-size: 50px;
}

.post-next a {
  text-decoration: none;
  color: #f78228;
}

nav #post-nav .columns {
  display: -webkit-box;
}
